.linha {
    border: 2px solid rgba(246, 246, 255, 0.397);
    margin: 10px 0; 
}

.small-select-field {
    width: 200px; 
}

.thead-custom {
    background-color: #1f2937;
    color: #f3f4f6;
    padding: 10px;
    border-bottom: 2px solid #e5e7eb;
    text-align: left;
}

.td-custom {
    border: 1px solid rgba(32, 31, 68, 0.3);
    padding: 10px;
}


.btn-outline-danger {
    border: 2px solid rgba(220, 38, 38, 0.5);
    color: #ef4444;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
}

.btn-outline-danger:hover {
    background-color: #ef4444; 
    color: #ffffff;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th {
    text-align: left;
    height: 50px;
}
table td {
    text-align: left;
}

hr {
    border: 0;
    height: 1px;
    background-color: #e5e7eb; 
}

.form-group {
    margin-bottom: 1rem;
}

button {
    cursor: pointer;
}
