

<aside class="flex flex-col justify-between">
     <button class="bg-colorGoiaba text-white px-5 py-2 rounded-lg shadow-md hover:bg-slate-900 hover:scale-105 m-1 transition-transform duration-300 flex items-start  text-left" (click)="openPage('home')"><lucide-icon name="MousePointerClick" class="w-6 h-6 mr-2"></lucide-icon>Inicio</button>

     <div class="flex justify-start items-center">
      <button class="bg-colorGoiaba text-white m-1 px-5 py-2 rounded-lg shadow-md hover:bg-slate-900 hover:scale-105 transition-transform duration-300 flex items-center  text-left" (click)="toggle()">
          <lucide-icon name="menu" class="w-6 h-6 mr-2"></lucide-icon>
          Cadastros
      </button>
  </div>
  <div *ngIf="isOpen" class="rounded-lg flex-col">
      <button class="tablink bg-gray-300 text-gray-800 m-2 px-4 py-2 rounded-lg hover:bg-gray-400 hover:scale-105 transition-transform duration-300 block w-48 text-left" (click)="openPage('cargos')">Cargos</button>
      <button class="tablink bg-gray-300 text-gray-800  m-2 px-4 py-2 rounded-lg hover:bg-gray-400 hover:scale-105 transition-transform duration-300 block w-48 text-left" (click)="openPage('documentos')">Documentos</button>
      <button class=" bg-gray-300 text-gray-800  m-2 px-4 py-2 rounded-lg hover:bg-gray-400 hover:scale-105 transition-transform duration-300 block  w-48 text-left " (click)="openPage('pessoa')">Pessoas</button>
  </div>

     <button class="bg-colorGoiaba text-white px-5 py-2 rounded-lg shadow-md hover:bg-slate-900 hover:scale-105 m-1 transition-transform duration-300 flex items-start  text-left" (click)="openPage('home')"><lucide-icon name="FileChartColumn" class="w-6 h-6 mr-2"></lucide-icon>Relatórios</button>

     <button class="bg-colorGoiaba text-white px-5 py-2 rounded-lg shadow-md hover:bg-slate-900 hover:scale-105 m-1 transition-transform duration-300 flex items-start  text-left" (click)="openPage('home')"><lucide-icon name="CircleDollarSign" class="w-6 h-6 mr-2"></lucide-icon>Vendas</button>

    
</aside>
