<div class="container mt-5 mb-5" *ngIf="visibilidadeTabela">
    <div class="border border-light rounded p-4">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h5 class="text-secondary m-0">Lista de Documentos</h5>
            <button type="button" class="btn btn-sm btn-secondary" (click)="ExibirFormularioCadastro()">Novo Documento</button>
        </div>
        <hr>
        <table class="table table-striped table-hover table-sm" *ngIf="documentos && documentos.length">
            <thead class="thead-light">
                <tr>
                    <th>Funcionário</th>
                    <th>Empresa</th>
                    <th>Endereço empresa</th>
                    <th>Data de emissão</th>
                    <th>Data efetiva de desligamento</th>
                    <th>Motivo de desligamento</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let documento of documentos">
                    <td>{{ documento?.idPessoa?.nome }}</td>
                    <td>{{ documento?.empresa }}</td>
                    <td>{{ documento?.enderecoEmpresa }}</td>
                    <td>{{ documento?.dataEmissao }}</td>
                    <td>{{ documento?.dataEfetivaDesligamento }}</td>
                    <td>{{ getDescricaoDocumento(documento.idMotivoDesligamento) }}</td>
                    <td>
                        <button type="button" class="btn btn-sm btn-outline-info mr-2" (click)="ExibirFormularioAtualizacao(documento.id)">Atualizar</button>
                        <button type="button" class="btn btn-sm btn-outline-danger" (click)="ExibirConfirmacaoExclusao(documento.id, documento.empresa, conteudoModal)">Excluir</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center" *ngIf="!documentos || !documentos.length">
            <p>Nenhum documento encontrado.</p>
        </div>
    </div>
</div>

<div class="container p-5" *ngIf="visibilidadeFormulario">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10 border border-light rounded p-4 shadow" *ngIf="formulario">
            <h6 class="text-secondary mb-4">{{ tituloFormularioDocumento }}</h6>
            <form [formGroup]="formulario" (ngSubmit)="EnviarFormulario()">
                <div class="form-group">
                    <label>Funcionário</label>
                    <select class="form-control" formControlName="idPessoa">
                        <option *ngFor="let pessoa of listaPessoa" [ngValue]="pessoa">{{ pessoa.nome }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Empresa</label>
                    <input type="text" class="form-control" formControlName="empresa"/>
                </div>
                <div class="form-group">
                    <label>Endereço Empresa</label>
                    <input type="text" class="form-control" formControlName="enderecoEmpresa"/>
                </div>
                <div class="form-group">
                    <label>Data de Emissão</label>
                    <input type="date" class="form-control" formControlName="dataEmissao"/>
                </div>
                <div class="form-group">
                    <label>Data Efetiva de Desligamento</label>
                    <input type="date" class="form-control" formControlName="dataEfetivaDesligamento"/>
                </div>
                <div class="form-group">
                    <label>Motivo de Desligamento</label>
                    <select class="form-control" formControlName="idMotivoDesligamento">
                        <option *ngFor="let motivo of enumKeys" [ngValue]="motivosDesligamento[motivo]">{{ motivo }}</option>
                    </select>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-outline-secondary mr-2">Salvar</button>
                    <button type="button" class="btn btn-light" (click)="Voltar()">Voltar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<ng-template #conteudoModal>
    <div class="modal-header">
        <h5 class="modal-title">Confirmação de exclusão</h5>
        <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Prosseguir com a exclusão do Documento?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="ExcluirDocumento(documentoId)">Excluir</button>
    </div>
</ng-template>
