<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-colorVerde shadow-lg">
    <nav>
        <div class="mx-auto px-2 sm:px-6 lg:px-8">
            <div class="relative flex h-20 items-center justify-between">
                <div class="max-w-7xl px-3 sm:px-6 lg:px-8">
                    <div class="hidden sm:flex space-x-8">
                        <!-- <div class="items-center">
                            <img class="h-45 w-30" src="../../assets/img/GestesteMenor.png" alt="Logo">
                        </div> -->
                        <div class="h-45 w-30 ">
                            <button class="tablink text-colorRoxo hover:text-colorAzul rounded-md px-3" onclick="openPage('home')">Inicio</button>
                            <button class="tablink text-colorRoxo hover:text-colorAzul rounded-md px-3" onclick="openPage('pessoa')">Pessoas</button>
                            <button class="tablink text-colorRoxo hover:text-colorAzul rounded-md px-3" onclick="openPage('cargos')">Cargos</button>
                            <button class="tablink text-colorRoxo hover:text-colorAzul rounded-md px-3" onclick="openPage('documentos')">Documentos</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</body>
</html>
