


/* Estilos para o componente Tab com abas horizontais e dropdown */

/* Estilo para a barra de abas */
.tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0; /* Cor de fundo da barra de abas */
    color: #333; /* Cor do texto dos botões de aba */
    padding: 10px 20px; /* Espaçamento interno */
  }
  
  /* Estilo para os botões de aba */
  .tablink {
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .tablink:hover {
    background-color: #ddd; /* Cor de fundo ao passar o mouse */
  }
  
  /* Estilo para o botão dropdown */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  }
  
  .dropbtn:hover {
    background-color: #ddd; /* Cor de fundo ao passar o mouse */
  }
  
  /* Estilo para o conteúdo do dropdown */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff; /* Cor de fundo do dropdown */
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .spacer {
    flex: 1;
  }

  .dropdown-content button {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333; /* Cor do texto dos botões do dropdown */
  }
  
  .dropdown-content button:hover {
    background-color: #ddd; /* Cor de fundo dos botões do dropdown ao passar o mouse */
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #ddd; /* Cor de fundo do botão dropdown ao passar o mouse */
  }
  
  .show {
    display: block; /* Exibir o dropdown quando a classe 'show' estiver presente */
  }
  