<section class="h-full w-full " *ngIf="visibilidadeTabela">
    <div class=" rounded-lg p-6">
        <div class="flex justify-between items-center mb-4">
            <h1 class="text-2xl font-extrabold text-colorGoiaba border-b-2 border-colorGoiaba ">Lista de Cargos</h1>
            <button type="button" class="bg-gray-800 text-colorGoiaba hover:bg-gray-700 hover:text-white rounded-lg px-5 py-3 font-semibold shadow-md transition duration-300 ease-in-out transform hover:scale-105" (click)="ExibirFormularioCadastro()">
                <lucide-icon name="circle-plus"></lucide-icon>
            </button>
        </div>
        <table class="w-full rounded-lg overflow-hidden shadow-lg bg-gray-100 ">
            <thead class="bg-gray-800 text-white ">
                <tr>
                    <th class="px-6 py-3 text-left">Descrição</th>
                    <th class="px-6 py-3 text-left">Valor</th>
                    <th class="px-6 py-3 text-left">Data de entrada</th>
                    <th class="px-6 py-3 text-left">Data de saída</th>
                    <th class="px-6 py-3 text-left">Setor</th>
                    <th class="px-6 py-3 text-left">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cargo of cargos" class="hover:bg-gray-200 transition-colors duration-300flex">
                    <td class="px-6 py-4 border-t border-gray-300">{{ cargo.descricao }}</td>
                    <td class="px-6 py-4 border-t border-gray-300">{{ cargo.valor | currency:'BRL':'symbol':'1.2-2' }}</td>
                    <td class="px-6 py-4 border-t border-gray-300">{{ cargo.dataEntrada }}</td>
                    <td class="px-6 py-4 border-t border-gray-300">{{ cargo.dataSaida }}</td>
                    <td class="px-6 py-4 border-t border-gray-300">{{ getDescricaoSetor(cargo.informacoesSetor) }}</td>
                    <td class="px-6 py-4 border-t border-gray-300 flex space-x-2">
                        <button type="button" class="flex items-center bg-slate-900 text-violet-50 hover:bg-slate-700 hover:text-white border border-slate-700 rounded-lg px-3 py-2 transition duration-300" (click)="ExibirFormularioAtualizacao(cargo.id)">
                            <lucide-icon name="pencil-line" class="w-4 mr-2"></lucide-icon> Atualizar
                        </button>
                        <button type="button" class="flex items-center bg-slate-900 text-red-500 hover:bg-red-700 hover:text-white border border-red-500 rounded-lg px-3 py-2 transition duration-300" (click)="ExibirConfirmacaoExclusao(cargo.id, cargo.descricao, conteudoModal)">
                            <lucide-icon name="square-x" class="w-4 mr-2"></lucide-icon> Excluir
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<div class="mt-6 mb-6" *ngIf="visibilidadeFormulario">
    <div class="flex justify-center">
        <div class="w-full max-w-2xl bg-gray-200 rounded-lg p-8 shadow-lg">
            <h5 class="text-3xl font-extrabold text-colorGoiaba border-b-2 border-colorGoiaba pb-3 mb-6">{{ tituloFormularioCargo }}</h5>
            <form [formGroup]="formulario" (ngSubmit)="EnviarFormulario()">
                <div class="form-group mb-6">
                    <label class="block text-lg text-gray-700">Nome do Cargo</label>
                    <input type="text" class="form-control mt-2 block w-full px-4 py-3 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-colorGoiaba focus:border-colorGoiaba" formControlName="descricao"/>
                </div>
                <div class="form-group mb-6">
                    <label class="block text-lg text-gray-700">Setor</label>
                    <select class="form-control mt-2 block w-full px-4 py-3 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-colorGoiaba focus:border-colorGoiaba" formControlName="informacoesSetor">
                        <option *ngFor="let setor of enumKeys" [ngValue]="setoresEmpresa[setor]">{{ setor }}</option>
                    </select>
                </div>
                <div class="form-group mb-6">
                    <label class="block text-lg text-gray-700">Valor</label>
                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-gray-200 px-4 py-3">R$</span>
                        </div>
                        <input type="text" class="form-control px-4 py-3 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-colorGoiaba focus:border-colorGoiaba" formControlName="valor" placeholder="0.00">
                    </div>
                </div>
                <div class="form-group mb-6">
                    <label class="block text-lg text-gray-700">Data de Entrada</label>
                    <input type="date" class="form-control mt-2 block w-full px-4 py-3 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-colorGoiaba focus:border-colorGoiaba" formControlName="dataEntrada"/>
                </div>
                <div class="form-group mb-6">
                    <label class="block text-lg text-gray-700">Data de Saída</label>
                    <input type="date" class="form-control mt-2 block w-full px-4 py-3 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-colorGoiaba focus:border-colorGoiaba" formControlName="dataSaida"/>
                </div>
                <div class="flex justify-between mt-6">
                    <button type="submit" class="bg-colorGoiaba text-white hover:bg-slate-900 hover:text-white rounded-lg px-5 py-3 font-semibold shadow-md transition duration-300 ease-in-out transform hover:scale-105">Salvar</button>
                    <button type="button" class="flex items-center bg-gray-300 text-gray-800 hover:bg-gray-400 hover:text-white rounded-lg px-5 py-3 font-semibold shadow-md transition duration-300 ease-in-out" (click)="Voltar()">
                        <lucide-icon name="undo-2" class="w-4 mr-2"></lucide-icon> Voltar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<ng-template #conteudoModal>
    <div class="modal-header">
        <h5 class="modal-title">Confirmação de exclusão</h5>
        <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Prosseguir com a exclusão do {{ nomeCargo }}?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="bg-gray-300 text-gray-800 hover:bg-gray-400 hover:text-white rounded-lg px-5 py-3 font-semibold shadow-md transition duration-300 ease-in-out" (click)="modalRef.hide()">Cancelar</button>
        <button type="button" class="bg-red-500 text-white hover:bg-red-700 hover:text-white rounded-lg px-5 py-3 font-semibold shadow-md transition duration-300 ease-in-out" (click)="ExcluirCargo(cargoId)">Excluir</button>
    </div>
</ng-template>
