<div class=" container  mt-4 mb-50" *ngIf="visibilidadeTabela">
    <div class="bg-colorAzul border rounded-md p-5 shadow-md ">
        <div class="d-flex justify-content-between mb-2">
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
            <h1 class="font-bold text-colorVerde text-xl">Lista de pessoas cadastradas</h1>
            <button type="button" class="btn text-colorGoiaba hover:bg-gray-400 rounded-md px-3 bg-gray-800" (click)="ExibirFormularioCadastro()">+</button>
        </div>
        <hr/>
        <hr class="my-2 ">
        <table class=" w-full rounded-md text-sm ">
            <thead style="border: 1px solid  rgba(32, 31, 68, 0.397);" class="p-5 bg-slate-900 text-colorVerde">
                <tr>
                    <th class=" px-3 py-2">Nome</th>
                    <th class=" px-3 py-2">Sobrenome</th>
                    <th class=" px-3 py-2">Data de nascimento</th>
                    <th class=" px-3 py-2">Endereço</th>
                    <th class=" px-3 py-2">Cargo</th>
                    <th class=" px-3 py-2">Ações</th>
                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let pessoa of pessoas" class=" text-sm text-colorVerde hover:bg-slate-500 hover:text-slate-800">
                    <td style="border: 1px solid  rgba(32, 31, 68, 0.397);" class="px-3 py-2 ">{{ pessoa.nome }}</td>
                    <td style="border: 1px solid  rgba(32, 31, 68, 0.397);"class="px-3 py-2">{{ pessoa.sobrenome }}</td>
                    <td style="border: 1px solid  rgba(32, 31, 68, 0.397);"class="px-3 py-2">{{ pessoa.dataNascimento }}</td>
                    <td style="border: 1px solid  rgba(32, 31, 68, 0.397);"class="px-3 py-2">{{ pessoa.endereco }}</td>
                    <td style="border: 1px solid  rgba(32, 31, 68, 0.397);"class="px-3 py-2">{{ pessoa.informacoesCargo.descricao }}</td>
                    <td style="border: 1px solid  rgba(32, 31, 68, 0.397);" class="px-3 py-2">
                        <button type="button"style="border: 2px solid  rgba(32, 31, 68, 0.397) " class="btn btn-sm font-bold  btn-outline-info mr-2 bg-slate-900 text-violet-50 hover:bg-gray-800" (click)="ExibirFormularioAtualizacao(pessoa.id)">Atualizar</button>
                        <button type="button" style="border: 2px solid  rgba(32, 31, 68, 0.397) " class="btn btn-sm btn-outline-danger font-bold  bg-slate-900 text-colorVermelho hover:bg-colorVermelho" (click)="ExibirConfirmacaoExclusao(pessoa.id, pessoa.nome, conteudoModal)">Excluir</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="container mt-3 mb-3" *ngIf="visibilidadeFormulario">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-10 border border-light rounded p-4 shadow">
            <h5 class="text-secondary mb-4">{{ tituloFormulario }}</h5>
            <form [formGroup]="formulario" (ngSubmit)="EnviarFormulario()">
                <div class="form-group">
                    <label>Nome</label>
                    <input type="text" class="form-control" formControlName="nome"/>
                </div>
                <div class="form-group">
                    <label>Sobrenome</label>
                    <input type="text" class="form-control" formControlName="sobrenome"/>
                </div>
                <div class="form-group">
                    <label>Data de Nascimento</label>
                    <input type="date" class="form-control" formControlName="dataNascimento"/>
                </div>
                <div class="form-group">
                    <label>Endereço</label>
                    <input type="text" class="form-control" formControlName="endereco"/>
                </div>
                <div class="form-group">
                    <label>Cargo</label>
                    <select class="form-control" formControlName="informacoesCargo">
                        <option *ngFor="let cargo of listaCargos" [ngValue]="cargo">{{ cargo.descricao }}</option>
                    </select>
                </div>
                <div class="form-group mt-4">
                    <button type="submit" class="btn btn-outline-secondary mr-2">Salvar</button>
                    <button type="button" class="btn btn-light" (click)="Voltar()">Voltar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<ng-template #conteudoModal>
    <div class="modal-header">
        <h5 class="modal-title">Confirmação de exclusão</h5>
        <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Prosseguir com a exclusão do(a) {{ nomePessoa }}?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="ExcluirPessoa(pessoaId)">Excluir</button>
    </div>
</ng-template>
