.container {
    max-width: 1200px;
    background-color: #f9f9f9;
    border-radius: 10px;
}


ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

h3 {
    font-size: 24px;
    color: #333;
}

p {
    font-size: 16px;
    color: #666;
}

img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}
