<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<header>
    <div>
        <app-tab></app-tab>
    </div>
</header>
<body id="conteudo">
    <div class="flex">
         <aside>
            <app-Menu></app-Menu>
        </aside> 
        <main>
            <router-outlet></router-outlet>
        </main>
    </div>
</body>
<footer>
    &copy; 2024 - GesTeste. Todos os direitos reservados.
</footer>
</html>
